/** @format */

.App {
  padding: 0px 10% 0px 10%;
}

.App-container {
  margin-top: 25px;
  padding: 15px;
}

.Emp-form-footer {
  display: flex;
  justify-content: space-between;
}

.Emp-Form-Submit {
  float: right;
}

.Emp-SearchBox-Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}
.Emp-Add-Button-Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.No-result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.No-data-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.No-data-image {
  width: 50%;
  height: 50%;
}
.Bank-Details-Form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.Margin-Bottom {
  margin-bottom: 10px;
}

.Current-Status-From {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Education-Details-Page {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Education-Details-Form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
  margin-top: 10px;
}

.Education-Details-Form-Remove {
  display: flex;
  padding: 10px;
}

.Experience-Details-Page {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Experience-Details-Form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
  margin-top: 10px;
}

.Margin-Top {
  margin-top: 10px !important;
}

.Experience-Details-Remove-Button {
  display: flex;
  padding: 10px;
}

.Personal-Details-Page {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Profile-Pic-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.Professional-Details-Page {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Professional-details-grid {
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 10px;
}

.Grid-1 {
  width: 49% !important;
}
.Float-Left {
  float: "left";
}
